<footer class="footer">
  <div class="footer-container">
    <div class="footer-socials">
      <a href="https://github.com/CleytonAlves07" target="_blank" aria-label="GitHub">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/cleyton-alves" target="_blank" aria-label="LinkedIn">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
    </div>

    <p class="footer-copy">© 2025 Cleyton Alves. Todos os direitos reservados.</p>
  </div>
</footer>
