:host {
  display: block;
  background-color: #121212;
  color: #fff;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

h2 {
  color: #ff9800;
  text-align: center;
}

.agendamento-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabela-agendamentos {
  width: 70%;
  border-collapse: collapse;
  margin: 1rem auto;
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.tabela-agendamentos th,
.tabela-agendamentos td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #333;
}

.tabela-agendamentos th {
  background-color: #2c2c2c;
  color: #ff9800;
}

.sem-agendamentos {
  margin-top: 2rem;
  color: #ccc;
  text-align: center;
}
