<nav>
  <div class="logo">
    <img src="assets/imgs/logo-barber.png" alt="Logo" class="logo-image">
  </div>

  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/register" routerLinkActive="active">Cadastro</a></li>
    <li><a routerLink="/sobre" routerLinkActive="active">Sobre</a></li>
    <li><a routerLink="/agendamento" routerLinkActive="active">Agendamento</a></li>
    <li><a routerLink="/agenda" routerLinkActive="active">Agenda</a></li>
    <li>
      <a href="https://github.com/CleytonAlves07" target="_blank">
        <i class="fa-brands fa-github"
          style="font-size: 1.3em; color: white; text-shadow: 0 0 5px #fff, 0 0 10px #FF4500;"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/cleyton-alves" target="_blank">
        <i class="fa-brands fa-linkedin-in"
          style="font-size: 1.3em; color: white; text-shadow: 0 0 5px #fff, 0 0 10px #FF4500;"></i>
      </a>
    </li>
  </ul>
</nav>
